
.img-container{
  overflow: hidden;
  background-color: #f50101;
  border-radius: 30px;
}
.card-img-top , .card-img{
  transition: transform 0.3s;
  width: 100%;
  
}
.card-img-top:hover , .card-img:hover{
  background-color: #f17108;
 
  transform: scale(1.1);
}
.card{
  border-radius: 30px;
  border: 1px solid #f50101;
 
}
.card-text strong{
  color: #2cdd2b;
  font-size: 22px
}
.btn{
  border-radius: 50px;
  background-color: #f50101;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -10px;

}
.price{
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: -5px;
}
.price p{
  flex: 1;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; 
}

.top-rated .img-container {
  width: 200px;
}
.divider{
  width: 345px;
  height: 2px;
  
  background: #4a4a4a;
  margin-left: 17px;
}